
.redBackground {
    -fx-background-color: #cdcdcd;
}

.loginButton {
    -fx-background-color: linear-gradient(#ffffff 0%, #dedede 100%);;
}

.loginButton:hover {
    -fx-background-color: linear-gradient(#ffffff 0%, #cdcdcd 100%);;
}

.loginButton:pressed {
    -fx-background-color: linear-gradient(#ffffff 0%, #ababab 100%);;
}

#tableView .table-column {
  -fx-alignment: CENTER;
}
